* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 50px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 15px;
}

.nested {
    background-color: limegreen;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid blue;
    min-height: 30px;
}

#first .nested {
    min-height: 55px;
}